<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

    <suite name="TestSuite">
<!--    <parameter name = "browser" value = "chrome"/>-->
<!--    <parameter name = "browser" value = "edge"/>-->
<!--    <parameter name = "url" value = "http://localhost:8080/PE_PRJ301_T4S4_JSTL/login.html"/>-->
    <test name="PRJ_Test">
        <groups>
            <run>
<!--                <include name = "function"/>-->
                <exclude name = "edit"/>
            </run>
        </groups>
        <classes>           
            <class name="org.wave.prj_webpage.test.LoginSystem"/> 
            <class name="org.wave.prj_webpage.test.SearchSystem">
<!--                <methods>
                    <include name = "testSearch"/>
                </methods>-->
            </class>   
            <class name="org.wave.prj_webpage.test.CreateSystem"/>      
        </classes>       
    </test>
</suite>
