<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

    <suite name="TestSuite">
    <test name="PRJ_Test">
        <classes>
            <class name="org.wave.prj_webpage.test.LoginSystem"/>      
        </classes>
    </test>
</suite>
